{{#each players}}
    <div class="choices">{{name}} - {{choiceLabel}} ({{choice}})</div>
{{/each}}

{{#if winner}}
    <div class="results">{{winner.name}} gagne !</div>
{{else}}
    <div class="results">égalité</div>
{{/if}}

<div class="button-container">
    <a href="#" class="button">Rejouer</a>
</div>